@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProBol.otf);
    font-style: bold;
    font-weight: 500;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProMed.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProLig.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProReg.otf);
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro";
}

header {
    background-color: #0DB8F7;
    height: 5.06rem;
    padding: 1.56rem 7.56rem;
    width: 100%;
}

header img {
    width: 7.2%;
}

.mortgage_key {
    width: 100%;
    padding: 3.3rem 0;
}

.title_style {
    display: block;
    width: 100%;
    margin-left: 6.75rem;
    margin-bottom: 0.93rem;
    font-weight: bold;
    font-size: 2.25rem;
    color: #0DB8F7;
    letter-spacing: 0;

}

.small_title {
    font-size: 1.625rem;
    color: #0DB8F7;
    letter-spacing: 0;
    font-weight: bold;
}

.morgage_steps_wrap {
    background: #FAFAFA;
    width: 100%;
}

.mortgage_steps {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mortgage_steps_item {
    width: 33%;
    margin: 3.75rem auto 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mortgage_step_content {
    padding: 0.5rem 1rem;
}

.mortgage_steps_item_header {
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1.18rem;
    font-size: 1.625rem;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: bold;
}


.mortgage_step_img_first {
    width: 6.75rem;
    height: 8rem;
    background-image: url(../img/calk_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1.25rem;
}

.mortgage_step_img_second {
    width: 7rem;
    height: 7rem;
    background-image: url(../img/phone_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1.25rem;
}

.mortgage_step_img_third {
    width: 6.75rem;
    height: 8rem;
    background-image: url(../img/building.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1.25rem;
}


.mortgage_steps_item p {
    margin-top: 0.93rem;
    font-size: 1rem;
    color: #4A4A4A;
    letter-spacing: 0;
}

.main_section_wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.calc {
    position: relative;
    width: 70%;
    padding: 1rem;
    height: 51.125rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.calc_wrap {
    height: 100%;
    padding: 2rem 2.3rem;
    background: #FAFAFA;
    box-shadow: 0 0.125rem 1rem 0 rgba(155, 155, 155, 0.50);
    border-radius: 1rem;
}

.calc_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calc_wrap h2 {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    font-weight: 300;
    color: #0DB8F7;
    display: block;
    width: 100%;
    font-weight: normal;
}



.param {
    position: relative;
    padding: 1.56rem 4.25rem 0rem 1.875rem;
    width: 65%;
    margin-bottom: 1rem;
}

.param::after {
    content: "";
    display: block;
    width: 0.125rem;
    background-color: #F0F0F0;
    position: absolute;
    height: 88%;
    position: absolute;
    top: 1.5rem;
    right: 0;
}

.conditions {
    width: 35%;
    padding: 1.625rem 3.25rem;
}

.param_item {
    margin-left: 0.31rem;
    margin-right: -0.75rem;
    margin-bottom: 3.43rem;
}

.param_item h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 2rem;
    color: #4A4A4A;
}


.calc_line {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #d9d9d9;
    /*  px usd instead of rem */
}

.param_value {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.param_scale {
    width: 100%;
    height: 0.5rem;
    background-color: #40a1d3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.condition_type {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    color: #4A4A4A;
    letter-spacing: 0;
    margin-bottom: 0.88rem;
}

.condition_value_percent,
.condition_value_sum {
    font-size: 1.75rem;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: 400;
}

.conditions div {
    margin-bottom: 2rem;
}

.result {
    margin-top: 11.68rem;
}

.result_text {
    font-size: 1.125rem;
    color: #4A4A4A;
    letter-spacing: normal;
    display: block;
    width: 100%;
    margin-bottom: 0.625rem;
}

.result_num_payment {
    display: block;
    width: 100%;
    color: #0DB8F7;
    font-size: 1.875rem;
    letter-spacing: 0;
}

.count_section {
    position: absolute;
    bottom: 3rem;
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

.count_section p {
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    font-weight: normal;
}

.count_start {
    outline: none;
    width: 40%;
    height: 4rem;
    margin-right: -0.125rem;
    background-color: #0DB8F7;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: normal;
    text-align: center;
    margin-left: 4.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem 0 #0DB8F7;
}

.irs-line {
    height: 1.56rem;
    top: 3rem;
}

.irs-line-left {
    height: 1.375rem;
    background-position: 0 -1.75rem;
}

.irs-line-right {
    height: 1.25rem;
    background-position: 3rem -1.75rem;
}

.irs-slider {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
    width: 2rem;
    height: 3.125rem;
}

.irs-slider:hover {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
}

.irs-bar {
    height: 1.875rem;
    top: 2.3125rem;
    background-position: -0.56rem -2.8rem;
}

.irs-bar-edge {
    top: 3rem;
    width: 1.5rem;
    left: 0;
    transform: rotate(180deg);
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    left: 1rem !important;
    color: #4A4A4A;
    font-size: 1.5rem;
    letter-spacing: 0;
    background-color: #ffffff;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    /* px used instead of rem */
    border-radius: 3px;
}


.irs-grid-text {
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.irs-min,
.irs-max {
    visibility: hidden !important;
}

.irs-grid {
    top: 3.625rem;
}

.irs-with-grid {
    height: 2.5rem;
}

.partners {
    width: 30%;
    padding-top: 1rem;
    height: 50.125rem;
}

.partners_wrap {
    height: 100%;
    padding: 2rem 1rem;
    background: #FAFAFA;
    box-shadow: 0 0.125rem 1rem 0 rgba(155, 155, 155, 0.50);
    border-radius: 1rem;
}

.partners h3 {
    display: block;
    width: 100%;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: normal;
}

.partners_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.partners_item {
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner_img {
    width: 6rem;
    height: 6.375rem;
    margin-bottom: 1rem;
}

.first_partner {
    background-image: url(../img/Sberbank-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.second_partner {
    background-image: url(../img/vtb24.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.third_partner {
    background-image: url(../img/Alfa-Bank.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth_partner {
    background-image: url(../img/tinkoff-insurance-general-logo-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fifth_partner {
    background-image: url(../img/x-partner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.partners_item span {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}

.advantages {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
}

.advantages_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    margin: 1rem auto;
    padding: 1.75rem;
    border-radius: 1rem;
    background-color: #fafafa;
    box-shadow: 0 0 1rem 0 rgba(155, 155, 155, 0.17);
}

.advantages_img_first {
    width: 4.5rem;
    ;
    height: 4.5rem;
    background-image: url(../img/university.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages_img_second {
    width: 4.5rem;
    ;
    height: 4.5rem;
    background-image: url(../img/percentage.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages_img_third {
    width: 4.5rem;
    ;
    height: 4.5rem;
    background-image: url(../img/headset.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages_img_fourth {
    width: 4.5rem;
    ;
    height: 4.5rem;
    background-image: url(../img/briefcase.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.advantages_item p {
    width: 65%;
    display: block;
    font-size: 1.375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.motivation {
    position: relative;
    width: 97%;
    margin: 1rem auto 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 1rem;
    background-color: #fafafa;
    box-shadow: 0 0 1rem 0 rgba(155, 155, 155, 0.17);
}

.motivation_content {
    width: 50%;
    padding: 3.125rem;
    padding-bottom: 5.3rem;
}

.motivation h3 {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    font-size: 1.375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.motivation_text {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5rem;
    letter-spacing: normal;
    color: #4a4a4a;
}

.motivation_img {
    position: absolute;
    top: -0.5rem;
    right: -0.75rem;
    bottom: -0.625rem;
    width: 50%;
    background-image: url(../img/fam.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal_window {
    display: none;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 1rem 0 rgba(155, 155, 155, 0.50);
    padding: 2.5rem;
    width: 50%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal_visible {
    display: block;
}

.modal_window h2 {
    display: block;
    width: 100%;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    color: #4A4A4A;
    letter-spacing: 0;
}

.modal_window p {
    margin: 1rem auto;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}

.mortgage_data_input,
.mortgage_submit_btn {
    outline: none;
    display: block;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.2rem;
    width: 70%;
    height: 3rem;
    border: 2px solid #F0F0F0;
    color: #4A4A4A;
    margin: 1rem auto;
    font-size: 1.25rem;
    letter-spacing: normal;
}

.mortgage_submit_btn {
    background-color: #0DB8F7;
    border: unset;
    color: #ffffff;
}

.close_btn {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close_btn:before, .close_btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close_btn:before {
    transform: rotate(45deg);
  }
  .close_btn:after {
    transform: rotate(-45deg);
  }

  .close_btn:hover {
    opacity: 1;
  }

.modal_overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4A4A4A;
    opacity: 0.7;
}

#modal_overlay {
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (min-width: 2001px) and (max-width: 2560px) {
    body {
        font-size: 20px;
    }

    header {
        height: 14.06rem;
        padding: 4rem 8.56rem;

    }
    
    header img {
        width: 10.2%;
    }

    .mortgage_key {
        padding: 7.3rem 0;
    }

    .title_style, .calc_wrap h2, .partners h3 {
        font-size: 4.25rem;
        margin-bottom: 2.93rem;  
    }


    .mortgage_step_img_first, .mortgage_step_img_third {
        width: 11.75rem;
        height: 13rem;
    }

    .mortgage_step_img_second {
        width: 12rem;
        height: 12rem;
    }

    .small_title, .mortgage_steps_item_header, .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 2.7rem;
    }

    .mortgage_steps_item p, .param_item h3, .condition_type, .result_text, .count_start, .advantages_item p, .motivation h3, .modal_window p{
        font-size: 2.3rem;
    }

    .param_item h3 {
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .irs-grid-text {
        font-size: 1.5rem;
    }

    .calc_wrap {
        padding: 3rem 3.3rem;
    }

    .partners_wrap {
        padding: 3rem 2rem;
    }

    .calc {
        height: 69.125rem;
    }

    .partners {
        height: 68.125rem;
    }

    .partners_item span {
        font-size: 1.8rem;
    }

    .partner_img {
        width: 9rem;
    height: 9.375rem;
    margin-bottom: 2rem;
    }

    .calc_line {
        padding: 3rem 0rem;
    }

    .irs-from, .irs-to, .irs-single {
        font-size: 2rem;
    }

    .irs-line {
        top: 79px;
    }

    .irs-bar {
        top: 67px;
    }

    .irs-bar-edge {
        top: 78px;
    }

    .irs-slider {
        top: 57px !important;
    }

    .irs-slider:hover {
        top: 57px !important;
    }

    .irs-grid {
        top: 6rem;
        height: 57px;
        left: 3%!important;
    }

    .irs-grid-pol {
        width: 1px;
        height: 12px;
    }

    .irs-grid-pol.small {
        height: 8px;
    }

    .calc {
        height: 84.125rem;
    }

    .partners {
        height: 83.125rem;
    }

    .condition_type, .result_text {
        margin-bottom: 2.88rem;
    }

    .conditions div {
        margin-bottom: 4rem;
    }

    .count_start {
        width: 32%;
        height: 6rem;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 9.5rem;
        height: 9.5rem;
    }

    .advantages_item p {
        font-size: 2.5rem;
    }

    .advantages_item {
        margin: 2rem auto;
        padding: 2.75rem;
    }

    .motivation_content {
        padding: 4.125rem;
        padding-bottom: 7.3rem;
    }

    .motivation_text {
        font-size: 2rem;
    }

    .modal_window h2 {
        font-size: 2.75rem;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        height: 5rem;
        padding-left: 2rem;
        margin: 3rem auto;
        font-size: 2rem;
        width: 75%;
    }

    .modal_window {
        padding: 5.5rem;
    }

    .close_btn:before, .close_btn:after {
        height: 67px;
        width: 3px;
        left: -5px;
    }

    .count_section {
        margin-top: 4rem;
    }

    .count_section p {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
    body {
        font-size: 18px;
    }

    header {
        height: 10.06rem;
        padding: 3rem 7.56rem

    }
    
    header img {
        width: 9.2%;
    }

    .mortgage_key {
        padding: 5.3rem 0;
    }

    .title_style, .calc_wrap h2, .partners h3 {
        font-size: 3rem;
        margin-bottom: 2rem;    
    }

    .mortgage_step_img_first, .mortgage_step_img_third {
        width: 9.75rem;
        height: 11rem;
    }

    .mortgage_step_img_second {
        width: 10rem;
        height: 10rem;
    }

    .small_title, .mortgage_steps_item_header, .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 2.5rem;
    }

    .mortgage_steps_item p, .param_item h3, .condition_type, .result_text, .count_start, .advantages_item p, .motivation h3, .modal_window p{
        font-size: 2rem;
    }

    .param_item h3 {
        line-height: 4rem;
    }

    .irs-grid-text {
        font-size: 1.2rem;
    }

    .irs-grid {
        top: 5rem;
        height: 50px;
        left: 3%!important;
    }

    .irs-grid-pol {
        width: 1px;
        height: 12px;
    }

    .irs-grid-pol.small {
        height: 8px;
    }

    .irs-line-mid {
        width: 92%;
    }

    .irs-line-left, .irs-line-mid, .irs-line-right {
        top: 16px;
    }

    .irs-bar {
        top: 53px;
    }

    .irs-bar-edge {
        top: 64px;
    }

    .irs-slider {
        top: 43px !important;
    }

    .irs-slider:hover {
        top: 43px !important;
    }

    .calc_line {
        width: 94%;
        padding: 2rem 0rem;
    }

    .calc {
        height: 69.125rem;
    }

    .partners {
        height: 68.125rem;
    }

    .count_start {
        height: 5rem;
    }

    .irs-from, .irs-to, .irs-single {
        font-size: 1.7rem;
        top: -8px;
    }

    .param_item {
        margin-bottom: 5.43rem;
    }

    .result_text, .condition_type {
        margin-bottom: 1.625rem;
    }

    .partners_wrap {
        padding: 2.5rem 1.5rem;
    }

    .partner_img {
        width: 9rem;
        height: 9.375rem;
        margin-bottom: 2rem;
    }

    .partners_item span {
        font-size: 1.5rem;
    }

    .modal_window {
        padding: 5.5rem;
    }

    .modal_window h2 {
        font-size: 2.2rem;
    }

    .modal_window p {
        margin: 2rem auto;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        width: 75%;
        height: 5rem;
        margin: 2rem auto;
        font-size: 1.7rem;
        border: 3px solid #F0F0F0;
    }

    .advantages_item {
        margin: 2rem auto;
        padding: 3.75rem;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 7.5rem;
        height: 7.5rem;
    }

    .advantages_item p {
        font-size: 2.2rem;
    }

    .motivation {
        margin: 2rem auto 6rem;
    }

    .motivation_text {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    body {
        font-size: 18px;
    }

    header {
        height: 8.06rem;
        padding: 2.2rem 7.56rem;

    }
    
    header img {
        width: 9.2%;
    }

    .mortgage_key {
        padding: 4.3rem 0;
    }

    .title_style, .calc_wrap h2, .partners h3 {
        font-size: 2.7rem;
        margin-bottom: 1.5rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third {
        width: 8.75rem;
        height: 10rem;
    }

    .mortgage_step_img_second {
        width: 9rem;
        height: 9rem;
    }

    .small_title, .mortgage_steps_item_header, .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 2rem;
    }

    .mortgage_steps_item p, .param_item h3, .condition_type, .result_text, .count_start, .advantages_item p, .motivation h3, .modal_window p{
        font-size: 1.5rem;
    }

    .param_item h3 {
        line-height: 4rem;
    }

    .irs-grid-text {
        font-size: 1rem;
    }

    .irs-grid {
        top: 4rem;
        height: 30px;
        left: 3%!important;
    }

    .calc_line {
        width: 94%;
    }

    .calc {
        height: 55.125rem;
    }
    
    .partners {
        height: 54.125rem;
    }

    .count_section p, .motivation_text {
        font-size: 1.3rem;
    }

    .partners h3 {
        width: 95%;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 5.5rem;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        height: 4rem;
        margin: 2rem auto;
        font-size: 1.5rem;
    }

    .close_btn:before, .close_btn:after {
        height: 45px;
        width: 3px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
    body {
        font-size: 18px;
    }

    header {
        height: 7.6rem;
        padding: 2.3rem 7.56rem;
    }

    header img {
        width: 9.2%;
    }

    .title_style {
        font-size: 2.4rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third {
        width: 7.75rem;
        height: 9rem;
    }

    .mortgage_step_img_second {
        width: 8rem;
        height: 8rem;
    }

    .small_title, .mortgage_steps_item_header, .calc_wrap h2 {
        font-size: 1.725rem;
    }

    .mortgage_steps_item p, .motivation_text {
        font-size: 1.2rem;
    }

    .param_item h3, .condition_type, .result_text, .count_section p, .count_start, .motivation_text{
        font-size: 1.35rem;
    }

    .irs-from, .irs-to, .irs-single {
        font-size: 1.6rem;
    }

    .irs-grid-text {
        font-size: 0.725rem;
    }

    .condition_value_percent, .condition_value_sum {
        font-size: 1.85rem;
    }

    .result_num_payment {
        font-size: 2rem;
    }

    .count_start {
        height: 5rem;
        width: 45%;
    }

    .partners_content {
        margin-top: 1rem;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 5.5rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    
    .calc, .partners {
        width: 100%;
        height: 40rem;
    }

    .partners {
        height: auto;
    }

    .partners_wrap {
        height: auto;
    }

    .partners {
        margin-top: 2rem;
    }

    .calc {
        padding: 0;
    }

    .partners_item {
        width: 16.6%;
    }

    .partner_img {
        width: 4rem;
        height: 4.375rem;
    }

    .partners h3 {
        text-align: left;
        margin-left: 1rem;
    }

    .partners_item span, .mortgage_steps_item p, .count_section p, .motivation_text {
        font-size: 0.8rem;
    }

    .mortgage_step_img_first {
        width: 4.75rem;
        height: 6rem;
    }

    .mortgage_step_img_second {
        width: 5rem;
        height: 5rem;
    }

    .mortgage_step_img_third {
        width: 4.75rem;
        height: 6rem;
    }

    .mortgage_steps_item_header, .small_title {
        font-size: 1.2rem;
    }

    .title_style {
        font-size: 1.8rem;
    }

    .param_item h3, .irs-from, .irs-to, .irs-single, .condition_type, .result_text, .count_start, .advantages_item p, .motivation h3, .mortgage_data_input, .mortgage_submit_btn {
        font-size: 1rem;
    }

    .irs-grid-text {
        font-size: 0.5rem;
    }

    .calc_line {
        padding: 0.5rem 0;
        width: 110%;
    }

    .irs-single {
        top: 0.5rem;
    }

    .param {
        padding: 1rem 4.875rem 0rem 0rem;
    }

    .conditions {
        padding: 1rem 2.125rem;
    }

    .conditions div {
        margin-bottom: 1.5rem;
    }

    .count_start {
        width: 33%;
        margin-left: 2.56rem;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 3.5rem;
    }

    .advantages_item {
        padding: 1rem;
    }

    .motivation_content {
        padding: 2.125rem;
    }

    .modal_window {
        width: 80%;
    }

    .modal_window h2 {
        font-size: 1.2rem;
    }

    .modal_window p {
        font-size: 1rem;
        width: 70%;
    }


}

@media screen and (min-width: 425px) and (max-width: 767px) {
    body{
        font-size: 12px;
    }

    .partners, .calc {
        height: auto;
    }

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .calc {
        padding: 0;
        max-height: unset;
    }

    .calc_wrap, .partners_wrap {
        border-radius: 0rem;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .partners_item {
        width: 33.3%;
    }

    .calc, .partners_wrap{
        height: auto;
    }

    .partners {
        margin-top: 20%;
    }

    .motivation, .count_section p {
        display: none;
    }

    header {
        padding: 1rem 1.75rem;
        height: 3.75rem;
    }

    header img {
        width: 20%;
    }

    .title_style {
        margin-left: 1.75rem;;
        font-size: 1.75rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third{
        width: 3.75rem;
        height: 4.187rem    ;
    }

    .morgage_steps_wrap {
        background: #ffffff;
    }

    .mortgage_step_img_second {
        width: 4.18rem;
        height: 4.18rem;
    }

    .small_title {
        font-size: 1.25rem;
    }

    .mortgage_steps_item p {
        font-size: 0.625rem;
    }

    .mortgage_steps_item {
        margin: 1.25rem auto 1.25rem;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .calc_wrap {
        box-shadow: 0 0 3px 0 rgba(181, 181, 181, 0.5);
    }

    .calc_wrap h2 {
        font-size: 1.5rem;
    }

    .param, .conditions {
        padding: 1rem;
    }

    .param_item {
        margin-right: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        display: flex;
        flex-wrap: wrap;
    }

    .conditions div {
        width: 50%;
        height: 85px;
    }

    .count_start {
        margin: 0;
        width: 49%;
        margin-top: -38%;
    }

    .partners h3 {
        margin-top: -20%;
        text-align: left;
        font-size: 1.5rem;
        margin-left: 1.75rem;
    }

    .partners_content {
        padding-top: 10%;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 3.5rem;
        
    }

    .advantages_item p {
        font-size: 1rem;
    }

    .advantages_item {
        padding: 1rem;
    }

    .modal_window h2 {
        font-size: 1.1rem;
    }

    .modal_window p {
        font-size: 0.8rem;
    }

    .modal_window {
        width: 90%;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        font-size: 1rem;
        padding: 0;
        padding-left: 1rem;
    }

    .close_btn {
        right: 17px;
        top: 17px;
    }

    .calc_wrap h2 {
        text-align: center;
    }

    .count_section {
        bottom: 30px;
    }

}

@media screen and (min-width: 375px) and (max-width: 424px) {
    body{
        font-size: 12px;
    }

    .partners, .calc {
        height: auto;
    }

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .calc {
        padding: 0;
        max-height: unset;
    }

    .calc_wrap, .partners_wrap {
        border-radius: 0rem;
    }

    .calc_wrap {
        padding: 1rem;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .partners_item {
        width: 33.3%;
    }

    .calc, .partners_wrap{
        height: auto;
    }

    .partners {
        margin-top: 20%;
    }

    .motivation, .count_section p {
        display: none;
    }

    header {
        padding: 1rem 1.75rem;
        height: 3.75rem;
    }

    header img {
        width: 20%;
    }

    .calc_wrap h2 {
        text-align: center;
    }

    .title_style, .partners h3 {
        margin-left: 1.5rem;;
        font-size: 1.3rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third{
        width: 3.75rem;
        height: 4.187rem    ;
    }

    .morgage_steps_wrap {
        background: #ffffff;
    }

    .mortgage_step_img_second {
        width: 4.18rem;
        height: 4.18rem;
    }

    .small_title, .mortgage_steps_item_header, .param_item h3 {
        font-size: 1rem;
    }

    .mortgage_steps_item p {
        font-size: 0.625rem;
    }

    .mortgage_steps_item {
        margin: 1.25rem auto 1.25rem;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .calc_wrap {
        box-shadow: 0 0 3px 0 rgba(181, 181, 181, 0.5);
    }

    .calc_wrap h2, .irs-from, .irs-to, .irs-single {
        font-size: 1.3rem;
    }

    .param, .conditions {
        padding: 1rem;
    }

    .param_item {
        margin-right: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        display: flex;
        flex-wrap: wrap;
    }

    .conditions div {
        width: 50%;
        height: 85px;
    }

    .count_start {
        margin: 0;
        width: 49%;
        margin-top: -38%;
        font-size: 1.1rem;
    }

    .partners h3 {
        margin-top: -20%;
        text-align: left;
        margin-left: 1.75rem;
    }

    .partners_item span {
        font-size: 1.1rem;
    }

    .partners_content {
        padding-top: 10%;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 3.5rem;
        
    }

    .advantages_item p {
        font-size: 1rem;
    }

    .advantages_item {
        padding: 1rem;
    }

    .modal_window h2 {
        font-size: 1.1rem;
    }

    .modal_window p {
        font-size: 0.8rem;
    }

    .modal_window {
        width: 90%;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        font-size: 1rem;
        padding: 0;
        padding-left: 1rem;
    }

    .close_btn {
        right: 17px;
        top: 17px;
    }

    .condition_type, .result_text {
        font-size: 1.1rem;
    }

    .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 1.5rem;
    }

    .partner_img {
        width: 4rem;
        height: 4.375rem;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        width: 90%;
        height: 2.5rem;
    }

    .close_btn:before, .close_btn:after {
        height: 25px;
        left: 20px;
    }

    .count_section {
        bottom: 30px;
        width: 85%;
    }

}

@media screen and (min-width: 320px) and (max-width: 374px) {
    body{
        font-size: 12px;
    }

    .partners, .calc {
        height: auto;
    }

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .irs-grid-text {
        font-size: 0.5rem;
    }

    .calc {
        padding: 0;
        max-height: unset;
    }

    .calc_wrap, .partners_wrap {
        border-radius: 0rem;
    }

    .calc_wrap {
        padding: 1rem;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .partners_item {
        width: 33.3%;
    }

    .calc, .partners_wrap{
        height: auto;
    }

    .partners {
        margin-top: 20%;
    }

    .motivation, .count_section p {
        display: none;
    }

    header {
        padding: 1rem 1.75rem;
        height: 3.75rem;
    }

    header img {
        width: 20%;
    }

    .calc_wrap h2 {
        text-align: center;
    }

    .title_style, .partners h3 {
        margin-left: 1.5rem;;
        font-size: 1.3rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third{
        width: 3.75rem;
        height: 4.187rem    ;
    }

    .morgage_steps_wrap {
        background: #ffffff;
    }

    .mortgage_step_img_second {
        width: 4.18rem;
        height: 4.18rem;
    }

    .small_title, .mortgage_steps_item_header, .param_item h3 {
        font-size: 1rem;
    }

    .mortgage_steps_item p {
        font-size: 0.625rem;
    }

    .mortgage_steps_item {
        margin: 1.25rem auto 1.25rem;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .calc_wrap {
        box-shadow: 0 0 3px 0 rgba(181, 181, 181, 0.5);
    }

    .calc_wrap h2, .irs-from, .irs-to, .irs-single {
        font-size: 1.3rem;
    }

    .param, .conditions {
        padding: 1rem;
    }

    .param_item {
        margin-right: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        display: flex;
        flex-wrap: wrap;
    }

    .conditions div {
        width: 50%;
        height: 85px;
    }

    .count_start {
        margin: 0;
        width: 49%;
        margin-top: -38%;
        font-size: 1.1rem;
    }

    .partners h3 {
        margin-top: -20%;
        text-align: left;
        margin-left: 1.75rem;
    }

    .partners_item span {
        font-size: 1.1rem;
    }

    .partners_content {
        padding-top: 10%;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 3.5rem;
        
    }

    .advantages_item p {
        font-size: 1rem;
    }

    .advantages_item {
        padding: 1rem;
    }

    .modal_window h2 {
        font-size: 1.1rem;
    }

    .modal_window p {
        font-size: 0.8rem;
    }

    .modal_window {
        width: 90%;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        font-size: 1rem;
        padding: 0;
        padding-left: 1rem;
    }

    .close_btn {
        right: 17px;
        top: 17px;
    }

    .condition_type, .result_text {
        font-size: 1.1rem;
    }

    .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 1.5rem;
    }

    .partner_img {
        width: 4rem;
        height: 4.375rem;
    }  

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .calc {
        padding: 0;
        max-height: unset;
    }

    .calc_wrap, .partners_wrap {
        border-radius: 0rem;
    }

    .calc_wrap {
        padding: 1rem;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .partners_item {
        width: 50%;
    }

    .calc, .partners_wrap{
        height: auto;
    }

    .partners {
        margin-top: 20%;
    }

    .motivation, .count_section p {
        display: none;
    }

    header {
        padding: 1rem 1.75rem;
        height: 3.75rem;
    }

    header img {
        width: 20%;
    }

    .calc_wrap h2 {
        text-align: center;
    }

    .title_style, .partners h3 {
        margin-left: 1.5rem;;
        font-size: 1.3rem;
    }

    .mortgage_step_img_first, .mortgage_step_img_third{
        width: 3.75rem;
        height: 4.187rem    ;
    }

    .morgage_steps_wrap {
        background: #ffffff;
    }

    .mortgage_step_img_second {
        width: 4.18rem;
        height: 4.18rem;
    }

    .small_title, .mortgage_steps_item_header, .param_item h3 {
        font-size: 1rem;
    }

    .mortgage_steps_item p {
        font-size: 0.625rem;
    }

    .mortgage_steps_item {
        margin: 1.25rem auto 1.25rem;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .calc_wrap {
        box-shadow: 0 0 3px 0 rgba(181, 181, 181, 0.5);
    }

    .calc_wrap h2, .irs-from, .irs-to, .irs-single {
        font-size: 1.3rem;
    }

    .param, .conditions {
        padding: 1rem;
    }

    .param_item {
        margin-right: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        display: flex;
        flex-wrap: wrap;
    }

    .conditions div {
        width: 50%;
        height: 85px;
    }

    .count_start {
        margin: 0;
        width: 50%;
        margin-top: -46%;
        font-size: 1.1rem;
    }

    .partners h3 {
        margin-top: -24%;
        text-align: left;
        margin-left: 1.75rem;
    }

    .partners_item span {
        font-size: 1.1rem;
    }

    .partners_content {
        padding-top: 10%;
    }

    .advantages_img_first, .advantages_img_second, .advantages_img_third, .advantages_img_fourth {
        width: 3.5rem;
        
    }

    .advantages_item p {
        font-size: 0.8rem;
    }

    .advantages_item {
        padding: 1rem;
    }

    .modal_window h2 {
        font-size: 1.1rem;
    }

    .modal_window p {
        font-size: 0.8rem;
    }

    .modal_window {
        width: 90%;
    }

    .mortgage_data_input, .mortgage_submit_btn {
        font-size: 1rem;
        padding: 0;
        padding-left: 1rem;
        width: 90%;
        height: 2.5rem;
    }

    .close_btn:before, .close_btn:after {
        height: 25px;
    }

    .close_btn {
        right: 17px;
        top: 17px;
    }

    .condition_type, .result_text {
        font-size: 1rem;
    }

    .condition_value_percent, .condition_value_sum, .result_num_payment {
        font-size: 1.5rem;
    }

    .partner_img {
        width: 4rem;
        height: 4.375rem;
    }

    .count_section {
        bottom: 18px;
        width: 90%;
    }
}