@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProBol.otf);
    font-style: bold;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProMed.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProLig.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gotham Pro";
    src: url(../Gotham/GothaProReg.otf);
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro";
    -webkit-overflow-scrolling: touch;
}

header {
    background-color: #0DB8F7;
    height: 5.06rem;
    padding: 1.56rem 7.56rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0.7rem 1rem rgba(0, 43, 59, 0.32);
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

header img {
    width: 5rem;
}


.preview {
    width: 100%;
    height: 100%;
    background-image: url(../img/header_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20% 4rem;
    position: relative;
}

.preview_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.3;
}

.preview_content {
    width: 100%;
    position: relative;
}

.preview_content .title_style {
    color: #ffffff;
}

.preview_content p {
    color: #ffffff;
    display: block;
    width: 50%;
    margin-left: 6.75rem;
    font-size: 1rem;
    line-height: 2rem;
}


.mortgage_key {
    width: 80%;
    padding: 3.3rem 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mortgage_steps, .mortgage_promo_img_section {
    width: 50%; 
    margin: 0 auto;
}

.mortgage_steps {
    padding: 1rem;
}

.mortgage_promo_img_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.promo_img {
    position: relative;
    width: 100%;
    height: 65%;
    background-image: url(../img/main_img.svg);
    transform: scale(1.2);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; 
}

.promo_img__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.promo_img_section__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.mortgage_steps_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}

.mortgage_steps_item__text {
    width: 60%;
    padding-left: 1rem;
}

.mortgage_steps_item__img {
    width: 5.625rem;
    height: 6.125rem;
}

.first_step_img {
    background-image: url(../img/Building.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.second_step_img {
    background-image: url(../img/Percent.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.third_step_img {
    background-image: url(../img/Passport.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fourth_step_img {
    background-image: url(../img/List.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fifth_step_img {
    background-image: url(../img/Lock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.small_title {
    font-family: "Gotham Pro";
    font-size: 1.3rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin: 0.75rem auto;
}

.text_cont {
    font-family: "Gotham Pro";
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.title_style {
    display: block;
    width: 100%;
    margin-left: 6.75rem;
    margin-bottom: 0.93rem;
    font-weight: bold;
    font-size: 2.25rem;
    color: #0DB8F7;
    letter-spacing: 0;
}

.main_section_wrap {
    padding: 3.3rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 2px rgba(0, 0, 0, 0.15);;
    border-top: solid 2px rgba(0, 0, 0, 0.15);
}

.calc {
    min-width: 574px;
    position: relative;
    width: 70%;
    padding: 1rem;
    height: 51.125rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.calc_section { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.calc h2 {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    font-weight: 300;
    color: #0DB8F7;
    display: block;
    width: 100%;
    font-weight: normal;
}



.param {
    position: relative;
    padding: 1.56rem 4.25rem 0rem 1.875rem;
    width: 50%;
    margin-bottom: 1rem;
}

.param::after {
    content: "";
    display: block;
    width: 0.125rem;
    background-color: #F0F0F0;
    position: absolute;
    height: 88%;
    position: absolute;
    top: 1.5rem;
    right: -4rem;
}

.conditions {
    width: 35%;
    padding: 1.625rem 3.25rem;
    margin: 0 auto;
}

.param_item {
    margin-left: 0.31rem;
    margin-right: -0.75rem;
    margin-bottom: 3.43rem;
}

.param_item h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 2rem;
    color: #4A4A4A;
}


.calc_line {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #d9d9d9;
    /*  px usd instead of rem */
}

.param_value {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.param_scale {
    width: 100%;
    height: 0.5rem;
    background-color: #40a1d3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.condition_type {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    color: #4A4A4A;
    letter-spacing: 0;
    margin-bottom: 0.88rem;
}

.condition_value_percent,
.condition_value_sum {
    font-size: 1.75rem;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: 400;
}

.conditions div {
    margin-bottom: 2rem;
}

.result {
    margin-top: 11.68rem;
}

.result_text {
    font-size: 1.125rem;
    color: #4A4A4A;
    letter-spacing: normal;
    display: block;
    width: 100%;
    margin-bottom: 0.625rem;
}

.result_num_payment {
    display: block;
    width: 100%;
    color: #0DB8F7;
    font-size: 1.875rem;
    letter-spacing: 0;
}

.count_section {
    position: absolute;
    bottom: 3rem;
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

.count_section p {
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    font-weight: normal;
}

.btn {
    cursor: pointer;
    width: 14rem;
    height: 4rem;
    background-color: #0DB8F7;
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: normal;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem 0 #0DB8F7;
    text-transform: uppercase;
}

.count_start {
    outline: none;
    border: unset;
    margin-right: -0.125rem;
    margin-left: 4.5rem;

}

.irs-line-mid {
    left: 4%;
    height: 0.5rem;
    width: 100%;
}

.irs-line {
    height: 1.56rem;
    top: 3rem;
}

.irs-line-left {
    height: 1.375rem;
    background-position: 0 -1.75rem;
}

.irs-line-right {
    height: 1.25rem;
    background-position: 3rem -1.75rem;
}

.irs-slider {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
    width: 2rem;
    height: 3.125rem;
}

.irs-slider:hover {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
}

.irs-bar {
    height: 1.875rem;
    top: 2.3125rem;
    background-position: -0.56rem -2.8rem;
}

.irs-bar-edge {
    top: 3rem;
    width: 1.375rem;
    left: 0;
    background-position: 0 -3.5rem;
    transform: rotate(180deg);
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    left: 1rem !important;
    color: #4A4A4A;
    font-size: 1.5rem;
    letter-spacing: 0;
    background-color: #ffffff;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    /* px used instead of rem */
    border-radius: 3px;
}


.irs-grid-text {
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.irs-min,
.irs-max {
    visibility: hidden !important;
}

.irs-grid {
    top: 3.625rem;
    height: 1.25rem;
}

.irs-with-grid {
    height: 2.5rem;
}

.partners {
    width: 30%;
    padding: 1rem;
    height: 50.125rem;
}

.partners h3 {
    display: block;
    width: 100%;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: normal;
}

.partners_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.partners_item {
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner_img {
    width: 6rem;
    height: 6.375rem;
    margin-bottom: 1rem;
}

.first_partner {
    background-image: url(../img/Sberbank-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.second_partner {
    background-image: url(../img/vtb24.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.third_partner {
    background-image: url(../img/Alfa-Bank.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth_partner {
    background-image: url(../img/deltacredit1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fifth_partner {
    background-image: url(../img/raif.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sixth_partner {
    background-image: url(../img/open_bank.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.partners_item span {
    width: 100%;
    display: block;
    font-size: 1.25rem;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}

.client_review {
    width: 85%;
    padding: 3.3rem 0 4rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.client_review h2 {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0db8f7;
    display: block;
    width: 100%;
    margin-left: 1rem;
  }

  .client_review_item {
      width: 33%;
      margin: 0 auto;
  }

  .client_review_item__head {
      padding: 2rem 0 1.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  .client_review_item__head img {
      margin: 0 1.5rem;
  }

  .client_review_item__head span {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .client_review_item__body {
      width: 100%;
      padding: 0 1.5rem;
  }

  .client_review_item__body p {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

footer {
    width: 100%;
    position: relative;
}

.footer_content {
    position: absolute;
    top: 2rem;
    left: 5rem;
    padding: 2rem 3rem;
    width: 40%;
    background-color: #ffffff;
}

.footer_content h2 {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0db8f7;
    display: block;
    width: 100%;
}

.footer_content span, .footer_tel {
    text-decoration: none;
    margin: 1rem auto;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    color: #4A4A4A;
    letter-spacing: 0;
}

.footer_tel {
    font-weight: bold;
}

.confidential_politics {
    font-size: 0.8rem;
    text-decoration: none;
    color: #0DB8F7;
}

.ya-taxi-widget {
    width: 100%;
    margin: 2rem auto;
    max-width: unset!important;
}

.modal_window {
    display: none;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 1rem 0 rgba(155, 155, 155, 0.50);
    padding: 2.5rem;
    width: 50%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal_visible {
    display: block;
}

.modal_window h2 {
    display: block;
    width: 100%;
    font-size: 1.75rem;
    margin: 0 auto;
    text-align: center;
    color: #4A4A4A;
    letter-spacing: 0;
}

.modal_window p {
    margin: 1rem auto;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}

.mortgage_data_input,
.mortgage_submit_btn {
    outline: none;
    display: block;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.2rem;
    width: 70%;
    height: 3rem;
    border: 0.125rem solid #F0F0F0;
    color: #4A4A4A;
    margin: 1rem auto;
    font-size: 1.25rem;
    letter-spacing: normal;
}

.mortgage_submit_btn {
    background-color: #0DB8F7;
    border: unset;
    color: #ffffff;
}

.close_btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.3;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close_btn:before, .close_btn:after {
    position: absolute;
    left: 0.9rem;
    content: ' ';
    height: 2rem;
    width: 0.125rem;
    background-color: #333;
  }
  .close_btn:before {
    transform: rotate(45deg);
  }
  .close_btn:after {
    transform: rotate(-45deg);
  }

  .close_btn:hover {
    opacity: 1;
  }

.modal_overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4A4A4A;
    opacity: 0.7;
}

#modal_overlay {
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


input[type=text],
input[type=submit]{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

@media screen and (min-width: 2001px) and (max-width: 2560px) {
    html,
    body {
        font-size: 36px;
    }

    .main_section_wrap {
        width: 70%;
    }

    .param {
        width: 38%;
        margin: 0 auto 1rem;
        padding: 1rem 3rem 1rem 1rem;
    }

    .count_section {
        width: 95%;
    }

    .count_start {
        width: 18rem;
    }

    .partner_img {
        width: 5rem;
        height: 5.375rem;
    }

    .partners_item span {
        font-size: 1rem;
    }

    .calc h2 {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
    html,
    body {
        font-size: 30px;
    }

    .count_section {
        width: 95%;
    }

    .count_start {
        width: 18rem;
    }

    .partner_img {
        width: 5rem;
        height: 5.375rem;
    }

    .partners_item span {
        font-size: 1rem;
    }

    .param {
        width: 49%;
        margin: 0 auto 1rem;
    }

    .calc h2 {
        width: 85%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    html,
    body {
        font-size: 24px;
    }

    .main_section_wrap {
        width: 85%;
    }
    .irs-line-right {
        width: 24%;
    }
}

@media screen and (min-width: 1465px) and (max-width: 1600px) { 
    html, body {
        font-size: 18px;
    }

    .irs-line-right {
        width: 16%;
    }
}

@media screen and (min-width: 965px) {
    html, body {
        font-size: 16px;
    }

    .main_section_wrap {
        width: 85%;
    }

    .count_section {
        width: 95%;
    }

    .partners, .param {
        padding: 1rem 0 0;
    }

}

@media screen and (min-width: 801px) and (max-width: 964px) {
    html, body {
        font-size: 16px;
    }

    .calc, .partners{
        width: 100%;
    }

    .partners {
        height: auto;
    }

    .partners_item {
        width: 33%;
    }
    
    .promo_img__wrap {
        background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
    }
}


@media screen and (min-width: 601px) and (max-width: 800px) {
    html, body {
        font-size: 14px;
    }

    .calc h2 {
        text-align: center;
    }

    .promo_img__wrap {
        background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -o-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: -ms-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); 
    }

    .main_section_wrap {
        width: 90%;
    }

    .calc_section {
        padding: 0;
    }

    .mortgage_steps, .mortgage_promo_img_section {
        width: 50%;
    }

    .mortgage_steps {
        flex-direction: column-reverse;
    }

    .mortgage_key::after {
        display: none;
    }
    
    .calc, .partners {
        width: 100%;
        height: 45rem;
    }

    .partners {
        height: auto;
    }

    .partners {
        margin-top: 2rem;
    }

    .partner_img {
        width: 5rem;
        height: 5.375rem;
    }

    .partners_item span {
        font-size: 1rem;
    }

    .calc {
        padding: 0;
        height: 46rem;
    }

    .partners_item {
        width: 16.6%;
    }

    .irs-line-right {
        height: 16px;
        background-position: 82px -1px;
        width: 81px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 4%;
    }

    .irs-bar {
        height: 18px;
        top: 2.3125rem;
        background-position: -19px -47px;
    }

    .irs-slider {
        background-position: -1px -74px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -74px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 36px;
        width: 26px;
        height: 13px;
        background-position: 35px -56px;
    } 

    .modal_window {
        width: 70%;
    }

    .count_start {
        width: 40%;
    }
}

@media screen and (min-width: 425px) and (max-width: 600px) {
    html, body{
        font-size: 12px;
    }

    .title_style {
        margin: 1rem auto;
        text-align: center;
    }

    .mortgage_steps, .mortgage_promo_img_section {
        width: 100%;
    }

    .mortgage_steps {
        flex-direction: column-reverse;
    }

    .mortgage_key::after {
        display: none;
    }

    .partners, .calc {
        height: auto;
    }

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .calc {
        padding: 0;
        max-height: unset;
        min-width: unset;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .partners_item {
        width: 33.3%;
    }

    .calc {
        height: auto;
    }

    header {
        padding: 1.75rem;
    }


    .motivation, .count_section p {
        display: none;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .param_item {
        margin-right: 0;
        margin-left: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .param {
        padding: 2rem 3.3rem;
    }

    .calc h2 {
        text-align: center;
    }

    .conditions div {
        width: 50%;
        height: 85px;
        text-align: center;
    }

    .count_start {
        margin: 0;
        margin-top: -33%;
        width: 10rem;
    }

    .partners {
        padding-top: 3rem;
    }

    .irs-line-right {
        height: 16px;
        background-position: 33px -1px;
        width: 54px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 4%;
        width: 100%
    }

    .irs-bar {
        height: 15px;
        top: 2.3125rem;
        background-position: -19px -49px;
    }

    .irs-slider {
        background-position: -1px -79px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -79px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 30px;
        width: 26px;
        height: 13px;
        background-position: 35px -56px;
    }

    .modal_window {
        width: 90%;
    }


    .client_review_item {
        width: 100%;
    }

    .main_section_wrap {
        border: unset;
    }

    .promo_img {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    html, body{
        font-size: 12px;
    }

    .title_style {
        margin: 1rem auto;
        text-align: center;
    }

    .mortgage_steps, .mortgage_promo_img_section {
        width: 100%;
    }

    .mortgage_steps {
        flex-direction: column-reverse;
    }

    .mortgage_key::after {
        display: none;
    }

    .partners, .calc {
        height: auto;
    }

    .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
        width: 100%;
    }

    .calc {
        padding: 0;
        max-height: unset;
        min-width: unset;
    }

    .param::after {
        content: '';
        width: 0;
    }

    .param {
        padding: 2rem 3.3rem;
    }

    .partners_item {
        width: 33.3%;
    }

    .calc {
        height: auto;
    }

    header {
        padding: 1.75rem;
    }

    .motivation, .count_section p {
        display: none;
    }

    .mortgage_step_content {
        width: 85%;
    }

    .param_item {
        margin-right: 0;
        margin-left: 0;
    }

    .result {
        margin-top: 0;
    }

    .conditions {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .calc h2 {
        text-align: center;
    }

    .conditions div {
        width: 50%;
        height: 85px;
        text-align: center;
    }

    .count_start {
        margin: 0;
        margin-top: -33%;
        width: 9rem;
    }

    .partners {
        padding-top: 3rem;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -1px;
        width: 24px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 5%;
        width: 91%;
    }

    .irs-bar {
        height: 15px;
        top: 2.3125rem;
        background-position: -19px -49px;
    }

    .irs-slider {
        background-position: -1px -79px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -79px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 30px;
        width: 26px;
        height: 13px;
        background-position: 35px -56px;
    }

    .modal_window {
        width: 90%;
    }

    .client_review_item {
        width: 100%;
    }

    .main_section_wrap {
        border: unset;
    }

    .promo_img {
        display: none;
    }
}

    @media screen and (min-width: 320px) and (max-width: 374px) {
        html, body{
            font-size: 10px;
        } 
    
        .title_style {
            margin: 1rem auto;
            text-align: center;
        }
    
        .mortgage_steps, .mortgage_promo_img_section {
            width: 100%;
        }
    
        .mortgage_steps {
            flex-direction: column-reverse;
        }
    
        .mortgage_key::after {
            display: none;
        }
    
        .partners, .calc {
            height: auto;
        }
    
        .mortgage_steps_item, .main_section_wrap, .calc, .param, .conditions, .partners, .advantages_item {
            width: 100%;
        }
    
        .calc {
            padding: 0;
            max-height: unset;
            min-width: unset;
        }
    
        .param::after {
            content: '';
            width: 0;
        }
    
        .partners_item {
            width: 33.3%;
        }
    
        .calc {
            height: auto;
        }
    
        header {
            padding: 1.75rem;
        }
    
        .motivation, .count_section p {
            display: none;
        }
    
        .mortgage_step_content {
            width: 85%;
        }
    
        .param_item {
            margin-right: 0;
        }
    
        .result {
            margin-top: 0;
        }
    
        .conditions {
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
    
        .calc h2 {
            text-align: center;
        }
    
        .conditions div {
            width: 50%;
            height: 85px;
        }
    
        .count_start {
            margin: 0;
            width: 44%;
            margin-top: -39%;
        }
    
        .partners {
            padding-top: 3rem;
        }
    
        .irs-line-right {
            height: 16px;
            background-position: 25px -3px;
        }
    
        .irs-line-left {
            display: none;
        }
    
        .irs-line-mid {
            left: 6%;
            width: 100%;
        }
    
        .irs-bar {
            height: 12px;
            top: 2.3125rem;
            background-position: -19px -49px;
        }
    
        .irs-slider {
            background-position: -1px -81px !important;
            width: 29px;
            height: 38px;
        }
    
        .irs-slider:hover {
            background-position: -1px -81px !important;
            width: 29px;
            height: 38px;
        }
    
        .irs-bar-edge {
            top: 30px;
            width: 26px;
            height: 5px;
            background-position: 35px -58px;
        }
    
        .modal_window {
            width: 90%;
        }

        .client_review_item {
            width: 100%;
        }

        .main_section_wrap {
            border: unset;
        }

        .promo_img {
            display: none;
        }
    
    }


